header {
  background-color: #34495e;
  height: 10vh;
  padding-right: 5%;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  height: 100%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 767.5px) {
    width: 30%;
  }
}
.logo img {
  width: 20px;
  @media screen and (min-width: 767.5px) {
    width: 40px;
  }
}
// .nav__box {
//   position: relative;
//   background-color: rgb(65, 90, 104);
//   box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.199);
//   border-radius: 20px;
//   width: 100%;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   transition: all 0.5s ease 0s;
//   overflow: hidden;
// }
// .nav__box:hover {
//   box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.199);
// }
// .nav__box a {
//   border: 1px solid greenyellow;
//   position: relative;
//   text-transform: uppercase;
//   border-radius: 20px;
//   padding: 5px;
//   color: white;
//   cursor: pointer;
//   z-index: 1;
//   @media screen and (min-width: 767.5px) {
//     padding: 10px;
//   }
// }
// .nav__box > .animation {
//   position: absolute;

//   top: 0;
//   transition: all 0.5s ease 0s;
//   border-radius: 20px;
//   height: 100%;
//   width: 0;
//   background-color: #0a6fd57e;
// }
// .nav__box a:nth-child(1):hover ~ .animation {
//   width: 100%;
//   height: 100%;
//   background-color: #1abc9c;
// }
// .nav__box > .active__nav {
//   height: 100%;
//   width: 68px;
//   background-color: red;
// }

@import url('https://fonts.googleapis.com/css?family=Cherry+Swash');
nav {
  margin: auto;
  position: relative;
  width: 590px;
  height: 50px;
  background-color: #4864819c;
  border-radius: 8px;
  font-size: 0;
  display: flex;
}
nav a {
  font-size: 15px;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
}
nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all 0.5s ease 0s;
  border-radius: 8px;
}
a:nth-child(1) {
  width: 100px;
}
a:nth-child(2) {
  width: 110px;
}
a:nth-child(3) {
  width: 100px;
}
a:nth-child(4) {
  width: 160px;
}
a:nth-child(5) {
  width: 120px;
}
.home__nav .active__nav,
a:nth-child(1):hover ~ .animation {
  width: 100px;
  left: 0;
  background-color: #1abc9c;
}
.about__nav .active__nav,
a:nth-child(2):hover ~ .animation {
  width: 110px;
  left: 100px;
  background-color: #e74c3c;
}
/* .active__nav {
  width: 100px;
  left: 210px;
  background-color: #3498db;
} */
.blog__nav .active__nav,
a:nth-child(3):hover ~ .animation {
  width: 100px;
  left: 210px;
  background-color: #3498db;
}
.portfolio__nav .active__nav,
a:nth-child(4):hover ~ .animation {
  width: 160px;
  left: 310px;
  background-color: #9b59b6;
}
.contacts__nav .active__nav,
a:nth-child(5):hover ~ .animation {
  width: 120px;
  left: 470px;
  background-color: #e67e22;
}
.home__nav > .active__nav {
  background-color: red;
}
