body {
  background-image: url(../img/b.jpg);
  background-size: 20%;
  overflow: hidden;
}
.contacts__box {
  border-radius: 30px;
  margin: 15vh auto 0;
  width: 80%;
  height: 60vh;
  overflow: hidden;
  backdrop-filter: blur(2px);
  @media screen and (min-width: 767.5px) {
    display: flex;
  }
}
.contacts__box > ul {
  width: 50%;
  display: flex;
}
.m__t {
  background-color: rgba(240, 248, 255, 0.593);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.m__t p {
  color: #34495e;
  font-weight: bold;
}
.m__t li {
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 40px;
  margin: 20px 0;
  background-color: rgba(255, 255, 255, 0.737);
  cursor: pointer;
  transition: all 0.5s ease 0s;
}
.m__t li:hover {
  background-color: #e67e22;
}
.messengers li:hover svg,
.m__t li:hover p,
.m__t li:hover svg {
  fill: white;
  color: white;
}

.m__t a {
  width: 100%;
}
.contacts__box svg {
  width: 30px;
  height: 30px;
  margin: 0 15px;
  fill: #34495e;
}
.messengers {
  background-color: #e67d223e;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.messengers li {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: 3px solid #34495e;
  width: 100%;
  width: 100px;
  height: 100px;
  margin: 20px;
  transition: all 0.5s ease 0s;
}
.messengers li:hover {
  background-color: #e67e22;
  border: 3px solid white;
}
.messengers svg {
  width: 50px;
  height: 50px;
  margin: 20px;
}
